$app-width: 1185px;
$app-height: 720px;


@function pix-vw($W) {
  $vw: (100 * $W) / $app-width;
  @return #{$vw}vw;
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: calculateRem($size);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: pix-vw(16px);
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  max-width: $app-width;
}
@media (min-width: $app-width) {
  html {
    font-size: 16px;
  }
}
body {
  color: white;
  overflow: hidden;
}

#app {
  max-width: $app-width;
  position: relative;
  height: $app-height;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .layer {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .wires {
    position: absolute;
    width: 100%;
    height: 100%;
    svg {
      width: 100%;
      .wire {
        fill: none;
        // stroke: var(--current-collor);
        stroke-dasharray: 10px 12px;
        stroke-width: 3px;
        stroke-linecap: square;
        stroke-dashoffset: 0;
        // animation: wire-current 0.3s infinite linear;
      }
    }
  }

  .windmils {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

    img {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
    }
  }
  .controls {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0.7;
    padding: 0 6%;
    justify-content: space-between;

    .seasons {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      width: 45%;
      height: 100%;
    }
    .wind {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      height: 100%;
      width: 35%;
    }
    .button {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      flex: 1 0 auto;
      height: 100%;
      // border: 1px solid yellow;
      align-items: center;
      font-weight: bold;
      padding: 0.8rem;

      &-icon {
        position: relative;
        width: 5.3rem;
        border: calculateRem(4) solid white;
        background-color: rgba(50, 118, 142, 0.4);
        height: 5.3rem;
        border-radius: 50%;
        cursor: pointer;
        img {
          object-fit: contain;
        }
      }
      &.active {
        .button-icon {
          border-radius: 50%;
          background-color: rgba(50, 118, 142, 1);
        }
      }
      &-label {
        width: 98%;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }
  .tacho {
    position: absolute;
    top: 9%;
    left: 43%;
    height: 51%;
    width: 44%;
    &-alert {
      height: 4.6rem;
      width: 5rem;
      position: absolute;
      left: calc(50% - 2.5rem);
      bottom: 23%;
      visibility: hidden;
      transition: .2s;
    }
    &-info {
      position: absolute;
      width: 100%;
      height: 30%;
      padding: 1rem;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-flow: column;
      font-size: 1.3rem;
      font-weight:lighter;
      // p{
      // }
    }
    &-pfeil {
      width: 49%;
      height: 72%;
      position: absolute;
      bottom: -28%;
      left: 25%;
      transform-origin: 52%;
      transition: all 0.5s;
    }
  }
  .active {
    visibility: visible !important;
  }
}

@keyframes wire-current {
  to {
    stroke-dashoffset: -22px;
  }
}
@keyframes sequence {
  to {
    transform: translateX(100% * 21 * (-1));
  }
}
