$app-width: 1185px;
$app-height: 720px;


@function pix-vw($W) {
  $vw: (100 * $W) / $app-width;
  @return #{$vw}vw;
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: calculateRem($size);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  color: black;
}